.navigation {
  min-height: 100vh;
  max-width: 200px;
  width: 100%;
  background-color: $white;
  box-shadow: 0px 0px 25px rgba(130, 130, 130, 0.2);
}
.navigation-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.navigation-items {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
