@import 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $black;
}
@import './components/App';
@import './components/Navigation';
@import './components/NavigationItem';
@import './components/ServiceDetails';
