.navigation-item {
  min-height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  transition: 0.1s linear;
  cursor: pointer;
  &::before,
  &::after {
    position: absolute;
    top: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: $gray;
  }
  &::after {
    content: none;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: $yellow;
  }
  &.selected,
  &:hover {
    background-color: $gray;
    &::after {
      content: '';
    }
    & + .navigation-item {
      &::before {
        content: none;
      }
    }
  }
  &-image {
    height: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-title {
    margin-top: 23px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}
